@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');



body {
    background-color: blue;
    overflow: hidden;
}

.container {
    width: 75%;
    margin: 32px auto;
}

.header {
    height: 250px;
    text-align: center;
}
.header h1 {
    color: wheat;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    animation: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


@keyframes header {
    0% {top: -250px;}
    85% {left: 50px;}
100% {top: 0;}
}

.main {
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.text-left {
    position: relative;
    animation: textLeft;
    animation-duration: 5s;
animation-timing-function: ease-in-out;
}

@keyframes textLeft {
    0% {left: -1000px;}
    100% {left:0;}
}

.text-right {
    margin-top: 32px;
    text-align: right;
    position: relative;
    animation: textRight;
    animation-duration: 5s;

}

@keyframes textRight {
    0% {right: -1000px;}
    85% {right: 50px;}
100% {right: 0;}



}


@keyframes aniBtn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}